In [0]:
-- CREAT DIM TIME
CREATE OR REPLACE TABLE workspace.projeto_datatran.gold_dim_time AS
SELECT DISTINCT
  data AS data_id,
  YEAR(data) AS ano,
  MONTH(data) AS mes,
  DAY(data) AS dia,
  DAYOFWEEK(data) AS dia_semana,
  quarter(data) AS trimestre
FROM workspace.projeto_datatran.datatran_silver
WHERE data IS NOT NULL

In [0]:
-- CREAT DIM LOCATION

CREATE OR REPLACE TABLE workspace.projeto_datatran.gold_dim_location AS
SELECT DISTINCT
  uf AS uf_id,
  municipio AS municipio_id,
  br AS br_id,
  km AS km_id,
  tipo_pista,
  sentido_via,
  uso_solo
FROM workspace.projeto_datatran.datatran_silver
WHERE uf IS NOT NULL AND municipio IS NOT NULL

In [0]:
-- CREAT DIM CONDITIONS

CREATE OR REPLACE TABLE workspace.projeto_datatran.gold_dim_conditions AS
SELECT DISTINCT
  condicao_metereologica AS condicao_metereologica_id,
  fase_dia AS fase_dia_id,
  tracado_via AS tracado_via_id
FROM workspace.projeto_datatran.datatran_silver
WHERE condicao_metereologica IS NOT NULL

In [0]:
-- CREAT DIM VICTIM
CREATE OR REPLACE TABLE workspace.projeto_datatran.gold_dim_victim AS
SELECT DISTINCT
    pesid,
    id AS id_acidente,
    id_veiculo,
    estado_fisico,
    idade,
    sexo,
    tipo_envolvido
FROM workspace.projeto_datatran.datatran_silver
WHERE pesid IS NOT NULL

In [0]:
-- FACT TABLE
CREATE OR REPLACE TABLE workspace.projeto_datatran.gold_fact_table AS
SELECT
    id,
    ANY_VALUE(data) AS data,
    ANY_VALUE(uf) AS uf,
    SUM(CASE WHEN estado_fisico = 'Ã“bito' THEN 1 ELSE 0 END) AS mortos,
    SUM(CASE WHEN estado_fisico LIKE 'Les%' THEN 1 ELSE 0 END) AS feridos,
    SUM(CASE WHEN estado_fisico = 'Ileso' THEN 1 ELSE 0 END) AS ilesos,
    COUNT(DISTINCT id_veiculo) AS total_veiculos,
    COUNT(DISTINCT pesid) AS total_vitimas
FROM workspace.projeto_datatran.datatran_silver
GROUP BY id;